<footer class="footer">
  <div class="footer__content">

    <div class="footer__brand">
      <h3 class="footer__logo">JD Store</h3>
      <p class="footer__tagline">Tu espacio fitness, simple y poderoso.</p>
    </div>

    
    <div class="footer__links">
      <a href="#">Inicio</a>
      <a href="#">Productos</a>
      <a href="#">Ofertas</a>
      <a href="movil:+573003617203">Contacto</a>
    </div>

    <div class="footer__social">
      <a href="#" aria-label="Instagram">📸</a>
      <a href="#" aria-label="Facebook">📘</a>
      <a href="#" aria-label="YouTube">▶️</a>
    </div>

  </div>

  <div class="footer__bottom">
    <p>© 2025 JD Store — Todos los derechos reservados</p>
  </div>
</footer>